### Singapore Race Prediction Modelling-1

### Importing all the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy import stats
import statsmodels.formula.api as smf

### Driver Standings csv

In [2]:
df_driver_standings=pd.read_csv('./Capstone_core_data/driver_standings.csv')

In [3]:
df_driver_standings.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [4]:
df_driver_standings=df_driver_standings.drop(['driverStandingsId','positionText'],axis=1)

In [5]:
df_driver_standings.columns=['raceId','driverId','D_points','D-position','D_wins']

In [6]:
df_driver_standings.head()

   raceId  driverId  D_points  D-position  D_wins
0      18         1      10.0           1       1
1      18         2       8.0           2       0
2      18         3       6.0           3       0
3      18         4       5.0           4       0
4      18         5       4.0           5       0

### Driver Details for age ###

In [7]:
df_driver=pd.read_csv('./Capstone_core_data/drivers.csv')

In [8]:
df_driver.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [9]:
df_driver.columns=['driverId','driverRef','number','code','forename','surname','dob','nationality','url']

In [10]:
df_driver.assign(age= " ")

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,age
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,
...,...,...,...,...,...,...,...,...,...,...
842,844,leclerc,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,http://en.wikipedia.org/wiki/Charles_Leclerc,
843,845,sirotkin,35,SIR,Sergey,Sirotkin,1995-08-27,Russian,http://en.wikipedia.org/wiki/Sergey_Sirotkin_(...,
844,846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris,
845,847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_(r...,
846,848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai,http://en.wikipedia.org/wiki/Alexander_Albon,

In [11]:
import pandas as pd
from datetime import datetime
from datetime import date

d = df_driver['dob']

df = pd.DataFrame(data=d)

def calculate_age(born):
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

df_driver['age'] = df_driver['dob'].apply(calculate_age)
df_driver['age'].head()

0    35
1    42
2    34
3    38
4    38
Name: age, dtype: int64

### Select driver ID,age from driver.csv

In [12]:
df_Driver_Analysis=df_driver[['driverId','age','nationality','driverRef']]

In [13]:
df_Driver_Age=df_driver[['driverId','age']]

### Races.csv

In [14]:
df_race=pd.read_csv('./Capstone_core_data/races.csv')

In [15]:
df_race.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [16]:
df_race=df_race[['raceId','year','round','circuitId','name']]

In [17]:
df_race.name.unique()

array(['Australian Grand Prix', 'Malaysian Grand Prix',
       'Chinese Grand Prix', 'Bahrain Grand Prix', 'Spanish Grand Prix',
       'Monaco Grand Prix', 'Turkish Grand Prix', 'British Grand Prix',
       'German Grand Prix', 'Hungarian Grand Prix', 'European Grand Prix',
       'Belgian Grand Prix', 'Italian Grand Prix', 'Singapore Grand Prix',
       'Japanese Grand Prix', 'Brazilian Grand Prix',
       'Abu Dhabi Grand Prix', 'Canadian Grand Prix', 'French Grand Prix',
       'United States Grand Prix', 'San Marino Grand Prix',
       'Austrian Grand Prix', 'Argentine Grand Prix',
       'Luxembourg Grand Prix', 'Portuguese Grand Prix',
       'Pacific Grand Prix', 'South African Grand Prix',
       'Mexican Grand Prix', 'Korean Grand Prix', 'Detroit Grand Prix',
       'Dutch Grand Prix', 'Dallas Grand Prix',
       'United States Grand Prix West', 'Swiss Grand Prix',
       'Caesars Palace Grand Prix', 'Swedish Grand Prix',
       'Indianapolis 500', 'Moroccan Grand Prix', 'Pescara Grand Prix',
       'Indian Grand Prix', 'Russian Grand Prix', 'Azerbaijan Grand Prix',
       'Vietnamese Grand Prix', 'Mexico City Grand Prix'], dtype=object)

In [18]:
df_race_singapore=df_race.loc[(df_race['name']=='Singapore Grand Prix')]

In [19]:
df_race_singapore.shape

(13, 5)

In [20]:
df_race_singapore.head(2)

    raceId  year  round  circuitId                  name
13      14  2009     14         15  Singapore Grand Prix
31      32  2008     15         15  Singapore Grand Prix

### Selecting Singapore Grand prix

In [23]:
df_race_sing=df_race[df_race['name']=='Singapore Grand Prix']
df_race_sing.head()

     raceId  year  round  circuitId                  name
13       14  2009     14         15  Singapore Grand Prix
31       32  2008     15         15  Singapore Grand Prix
350     351  2010     15         15  Singapore Grand Prix
852     854  2011     14         15  Singapore Grand Prix
871     873  2012     14         15  Singapore Grand Prix

In [24]:
df_race_sing=df_race_sing.drop(['circuitId'],axis=1)

In [25]:
df_race_sing.to_csv('df_race_sing.csv')

### Results csv extraction

In [26]:
df_results=pd.read_csv('./Capstone_core_data/results.csv')

In [27]:
df_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [28]:
df_results.shape

(24620, 18)

In [29]:
df_results.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId'],
      dtype='object')

In [30]:
df_results=df_results.drop(['resultId','number','position','positionText',
                            'time','milliseconds', 'fastestLap', 'rank', 'fastestLapTime','fastestLapSpeed'],axis=1)

### results csv along with the driver age ###

In [31]:
df_results_with_age=pd.merge(df_results,df_Driver_Age, how ='left',on= 'driverId')

In [32]:
df_results_with_age.isna().any()

raceId           False
driverId         False
constructorId    False
grid             False
positionOrder    False
points           False
laps             False
statusId         False
age              False
dtype: bool

In [33]:
df_results_with_age.shape

(24620, 9)

### Created a data frame of driver standings only in singapore grand prix ###

In [34]:

df_race_sing_races=pd.merge(df_driver_standings,df_race_sing,how='inner',on='raceId')
df_race_sing_races.shape

(280, 8)

### This is the driver standings entered into singalore race

In [35]:
df_race_sing_races.head()

,raceId,driverId,D_points,D-position,D_wins,year,round,name
0,32,1,84.0,1,4,2008,15,Singapore Grand Prix
1,32,2,56.0,5,0,2008,15,Singapore Grand Prix
2,32,3,17.0,12,0,2008,15,Singapore Grand Prix
3,32,4,38.0,7,1,2008,15,Singapore Grand Prix
4,32,5,51.0,6,1,2008,15,Singapore Grand Prix

In [36]:
df_sing_race_analysis=df_race_sing_races[['raceId','driverId','D_points']]

In [37]:
df_sing_race_analysis.groupby(['raceId','driverId']).D_points.sum().reset_index().rename(columns={"D_points":"points_Aus_race"})

     raceId  driverId  points_Aus_race
0        14         1             37.0
1        14         2             12.0
2        14         3             30.5
3        14         4             26.0
4        14         5             22.0
..      ...       ...              ...
275    1024       842             69.0
276    1024       844            200.0
277    1024       846             31.0
278    1024       847              0.0
279    1024       848             42.0

[280 rows x 3 columns]

### Df-final is the data frame which filters the driver standings who played only in singapore Grand Prix.Which again gets merged with results csv to get laps,age details

In [38]:
df_race_sing_races.shape

(280, 8)

In [39]:
df_results_with_age.columns

Index(['raceId', 'driverId', 'constructorId', 'grid', 'positionOrder',
       'points', 'laps', 'statusId', 'age'],
      dtype='object')

In [40]:
df_results_with_age.columns=['raceId', 'driverId', 'constructorId', 'starting_grid', 'Ending_position',
       'points_scored', 'laps_completed', 'statusId','D_age']

In [41]:
#df_results['laps']=df_results['laps'].replace('\\N',np.nan)

In [42]:
df_results_with_age.head()

,raceId,driverId,constructorId,starting_grid,Ending_position,points_scored,laps_completed,statusId,D_age
0,18,1,1,1,1,10.0,58,1,35
1,18,2,2,5,2,8.0,58,1,42
2,18,3,3,7,3,6.0,58,1,34
3,18,4,4,11,4,5.0,58,1,38
4,18,5,1,3,5,4.0,58,1,38

In [43]:
df_race_sing_races.head()

,raceId,driverId,D_points,D-position,D_wins,year,round,name
0,32,1,84.0,1,4,2008,15,Singapore Grand Prix
1,32,2,56.0,5,0,2008,15,Singapore Grand Prix
2,32,3,17.0,12,0,2008,15,Singapore Grand Prix
3,32,4,38.0,7,1,2008,15,Singapore Grand Prix
4,32,5,51.0,6,1,2008,15,Singapore Grand Prix

### Filter the results csv only for singapore grand prix

In [44]:
results_sing=pd.merge(df_race_sing_races,df_results_with_age,how='inner',on=['raceId','driverId'])

In [45]:
results_sing.shape

(258, 15)

In [46]:
results_sing.isna().any()

raceId             False
driverId           False
D_points           False
D-position         False
D_wins             False
year               False
round              False
name               False
constructorId      False
starting_grid      False
Ending_position    False
points_scored      False
laps_completed     False
statusId           False
D_age              False
dtype: bool

In [47]:
df_final=results_sing

In [48]:
df_final.columns

Index(['raceId', 'driverId', 'D_points', 'D-position', 'D_wins', 'year',
       'round', 'name', 'constructorId', 'starting_grid', 'Ending_position',
       'points_scored', 'laps_completed', 'statusId', 'D_age'],
      dtype='object')

### Renaming the columns

In [49]:
df_final.columns=['raceId', 'driverId','D_points','D-position', 'D_wins', 'race_year', 'race_round', 'race_name',
                  'constructorId', 'starting_grid',
       'Ending_position', 'points_scored', 'laps_completed', 'statusId',
       'D_age']

In [50]:
df_final.to_csv('./intermediate_files/results_of driver_standings_singapore_race.csv')


---
# Move on to Singapore_Analysis_2 notebook
---